@import '../common_css/init.scss';

$z-index: 10001;
$margin-dialog: $margin;
$height-header: $grid * 8;


$color-block-info-border: #DBDAC0;
$color-block-info-font: #DBDAC0;
$color-block-info-background: #FFFEE0;

$color-block-error-border: #BF524D;
$color-block-error-font: #900C3F;
$color-block-error-background: #F3DCDB;

$color-block-success-border: #50673F;
$color-block-success-font: #50673F;
$color-block-success-background: #CDF8AD;

$color-block-process-border: #2E4464;
$color-block-process-font: #2E4464;
$color-block-process-background: #ADCBF8;

$color-block-warning-border: #70452a;
$color-block-warning-font: #70452a;
$color-block-warning-background: #e8a67d;


$color-progress-success-background: #B7E1A8;
$color-progress-success-active: #33B703;

$color-progress-error-background: #C9A19E;
$color-progress-error-active: #96221B;





