/* Colors */
$color-main1: #420A68; //Самый тёмный цвет цветовой схемы
$color-main2: #7C13BF; //Основной цвет цветовой схемы
$color-main3: #E0ACA8; //Самый светлый цвет цветовой схемы
//$header-background-hover: lighten($color-main2, 5%);
